:root {
    --c1: #008AD8;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
}

.navbar {
    padding: 1rem 0;
    background: linear-gradient(280deg, black , white 50%);
}
.navbar-brand {
    font-size: 2.3rem;
    font-weight: bold;
    color: black;
}
.navbar-brand:hover {
    color: var(--c1);
    cursor: pointer;
}
.nav-link {
    font-size: 1.3rem;
    color: black;
}
.nav-link:hover {
    color: var(--c1);;
}
.btn-c {
    background-color: var(--c1);
    padding: 0 auto ;
}

.image {
    height: 110vh;
    background: url("image.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50vh;
}

.about-txt{
    font-size: 1.2rem;
}

#projects {
    margin: 2rem;
}
#comingSoonProjects {
    background: linear-gradient(to left, #b50c71, #c01111);
    text-align: center;
    margin: 25%;
}
#comingSoonProjects h1 {
    font-size: 60px;
    font-weight: bold;
}

footer {
    background: linear-gradient(100deg, black , white 50%);
    padding: 3rem 1rem;
}
h2 {
    font-weight: bold;
    color: var(--c1);
}
@media (max-width: 600px) {
    .image {
        height: 60vh;

    }
    footer{
        padding: 2rem 5rem;
    }
}